nav .fa {
    display: none;
}

@media only screen and (max-width:900px) {

    .right ul li {
        display: block;
    }

    .right ul {
        padding: 30px;
    }

    .right {
        width: 0;
        height: 100vh;
        background-color: rgb(80, 55, 55);
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition: width 1s ease;

    }

    nav .fa {
        display: block;
        color: #fff;
        font-size: 25px;
    }
    nav:hover .right {
        width: 150px;
    }

}


@media only screen and (min-width:412px) and (max-width:599px) {
    .container .sub-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}

@media only screen and (max-width: 400px) and (orientation: portrait) {
    .container section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (min-width:390px) and (max-width:399px) {

    .container section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}

@media only screen and (min-width:310px) and (max-width:390px) {
    .container section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
